# ==========================================
# Database - PostgreSQL
# ==========================================
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/telegram_bot_shop"

# ==========================================
# Site
# ==========================================
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# ==========================================
# ZarinPal
# ==========================================
ZARINPAL_MERCHANT_ID="YOUR_ZARINPAL_MERCHANT_ID"

# ==========================================
# Telegram Webhook
# ==========================================
TELEGRAM_WEBHOOK_SECRET="YOUR_RANDOM_WEBHOOK_SECRET"